[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
click = "*"
idna = "*"
itsdangerous = "*"
python-decouple = "*"
pytz = "*"
requests = "*"
simplejson = "*"
"urllib3" = "*"
Flask = "*"
MarkupSafe = "*"

[dev-packages]
codacy-coverage = "*"
codecov = "*"
coverage = "*"
"flake8" = "*"
mccabe = "*"
pbr = "*"
multidict = "*"
py = "*"
pycodestyle = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
six = "*"
vcrpy = "*"
wrapt = "*"
yarl = "*"
PyYAML = "*"

[requires]
python_version = "3.7"
