interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://apilayer.net/api/live?currencies=BRL%2C+EUR%2C+GBP%2C+BTC&format=1
  response:
    body: {string: "{\n  \"success\":true,\n  \"terms\":\"https:\\/\\/currencylayer.com\\/terms\",\n
        \ \"privacy\":\"https:\\/\\/currencylayer.com\\/privacy\",\n  \"timestamp\":1511213048,\n
        \ \"source\":\"USD\",\n  \"quotes\":{\n    \"USDBRL\":3.257096,\n    \"USDEUR\":0.852019,\n
        \   \"USDGBP\":0.75569,\n    \"USDBTC\":0.000122\n  }\n}"}
    headers:
      Content-Type: [application/json; Charset=UTF-8]
      Etag: [df52555f662c01da48408504c8bb2b3d]
      Last-Modified: ['Mon, 20 Nov 2017 21:24:08 GMT']
      X-Apilayer-Transaction-Id: [06bfffb3-5cc0-423f-b1c6-9484edcfadea]
      X-Request-Time: ['0.027']
    status: {code: 200, message: OK}
version: 1
