% rebase('base.html')

    <!-- CONTAINER BEGIN -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br />
                <h2>Cotações</h2>
                <h5>Code write by <strong><i class="fa fa-rebel"></i> Vicente Marçal</strong> Desenvolvedor Python/Bottle</h5>
                <h6>
                    Design by <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap</a>
                </h6>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                <div class="fancy-collapse-panel">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        Cotação (<i class="fa fa-usd" aria-hidden="true"></i>) Dollar em R$
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p class="lead">
                                       Cotado a: R$ {{ dicionario['valores']['USD']['valor'] }}
                                    </p>
                                    <p>
                                       <small>
                                           Última consulta às {{dicionario['valores']['USD']['ultima_consulta'] }}
                                       </small>
                                    </p>
                                    <p>
                                        <small>Fonte: {{ !dicionario['valores']['USD']['fonte'] }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                       Cotação (<i class="fa fa-euro" aria-hidden="true"></i>) Euro em R$
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p class="lead">
                                       Cotado a: R$ {{ dicionario['valores']['EUR']['valor'] }}
                                    </p>
                                    <p>
                                        <small>
                                            Última consulta às {{ dicionario['valores']['EUR']['ultima_consulta'] }}
                                        </small>
                                    </p>
                                    <p>
                                       <small>Fonte: {{ !dicionario['valores']['EUR']['fonte'] }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       Cotação (<i class="fa fa-gbp" aria-hidden="true"></i>) Libra Esterlina em R$
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p class="lead">
                                       Cotado a: R$ {{ dicionario['valores']['GBP']['valor'] }}
                                    </p>
                                    <p>
                                        <small>
                                            Última consulta às {{ dicionario['valores']['GBP']['ultima_consulta'] }}
                                        </small>
                                    </p>
                                    <p>
                                        <small>Fonte: {{ !dicionario['valores']['GBP']['fonte'] }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Cotação (<i class="fa fa-bitcoin" aria-hidden="true"></i>) BitCoin em R$
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFour">
                                <div class="panel-body" >
                                    <p class="lead">
                                       Cotado a: R$ {{ dicionario['valores']['BTC']['valor'] }}
                                    </p>
                                    <p>
                                        <small>
                                            Última consulta às {{ dicionario['valores']['BTC']['ultima_consulta'] }}
                                        </small>
                                    </p>
                                    <p>
                                        <small>Fonte: {{ !dicionario['valores']['BTC']['fonte'] }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Cotação (<i class="fa fa-money" aria-hidden="true"></i>) Peso Argentino em R$
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFive">
                                <div class="panel-body" >
                                    <p class="lead">
                                       Cotado a: R$ {{ dicionario['valores']['ARS']['valor'] }}
                                    </p>
                                    <p>
                                        <small>
                                            Última consulta às {{ dicionario['valores']['ARS']['ultima_consulta'] }}
                                        </small>
                                    </p>
                                    <p>
                                        <small>Fonte: {{ !dicionario['valores']['ARS']['fonte'] }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONATINER END -->