% rebase('base.html')

    <!-- CONTAINER BEGIN -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br />
                <h2>Cotações</h2>
                <h5>Code write by
                    <i class="fa fa-rebel"></i>
                    <strong>
                      <a href="http://github.com/Riverfount"> Vicente Marçal</a>
                    </strong> Desenvolvedor
                    Python/Bottle
                </h5>
                <h6>
                    Design by <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap</a>
                </h6>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                <div class="fancy-collapse-panel">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        Cotação (<i class="fa fa-usd" aria-hidden="true"></i>) Dollar em R$
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p class="lead">
                                        Cotado a: <span class="bg-success">R$ {{ dicionario['rates']['USD'] }}</span>
                                    </p>
                                    <p>
                                       <small>
                                           Última consulta em {{dicionario['date'] }}
                                       </small>
                                    </p>
                                    <p>
                                        <small>Fonte: <a href="https://www.ecb.europa.eu/home/html/index.en.html">
                                                          Banco Central Europeu
                                                      </a>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                       Cotação (<i class="fa fa-euro" aria-hidden="true"></i>) Euro em R$
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p class="lead">
                                        Cotado a: <span class="bg-success">R$ {{ dicionario['rates']['EUR'] }}</span>
                                    </p>
                                    <p>
                                        <small>
                                            Última consulta em {{ dicionario['date'] }}
                                        </small>
                                    </p>
                                    <p>
                                       <small>Fonte: <a href="https://www.ecb.europa.eu/home/html/index.en.html">
                                                          Banco Central Europeu
                                                      </a>
                                       </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       Cotação (<i class="fa fa-gbp" aria-hidden="true"></i>) Libra Esterlina em R$
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p class="lead">
                                        Cotado a: <span class="bg-success">R$ {{ dicionario['rates']['GBP'] }}</span>
                                    </p>
                                    <p>
                                        <small>
                                            Última consulta em {{ dicionario['date'] }}
                                        </small>
                                    </p>
                                    <p>
                                        <small>Fonte: <a href="https://www.ecb.europa.eu/home/html/index.en.html">
                                                          Banco Central Europeu
                                                      </a>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Cotação (<i class="fa fa-jpy" aria-hidden="true"></i>) Yene em R$
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFour">
                                <div class="panel-body" >
                                    <p class="lead">
                                        Cotado a: <span class="bg-success">R$ {{ dicionario['rates']['JPY'] }}</span>
                                    </p>
                                    <p>
                                        <small>
                                            Última consulta em {{ dicionario['date'] }}
                                        </small>
                                    </p>
                                    <p>
                                        <small>Fonte: <a href="https://www.ecb.europa.eu/home/html/index.en.html">
                                                          Banco Central Europeu
                                                      </a>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONATINER END -->